/* CSS Reset */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

/* Actual CSS */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

h1 {
    font-size: 200%;
}

p {
    font-size: 110%;
}

.nav-container {
    display: flex;
    width: 100%;
    background-color: #1D3557;
    color: #F1FAEE;
}

.nav-container nav {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.nav-container nav a {
    text-decoration: none;
    color: inherit;
}

.nav-container nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    color: #A8DADC;
}

.nav-container nav ul a:hover {
    color: #F1FAEE;
}



.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-container main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 3rem 4rem;
}

.main-container h1 {
    text-align: center;
    margin: 2rem;
    color: #1D3557;
}

.main-container h2 {
    text-align: center;
    margin: 1.5rem;
}

.main-container p {
    padding-bottom: 1rem;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 10px;
}

.options .option {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 0;
    gap: 10px;
    font-size: 90%;
    box-shadow: 0 0 1px #AAA;
}

#hardware-symbol {
    align-self: center;
    max-width: 150px;
    margin: 2rem;
    -webkit-filter: drop-shadow(0px 0px 5px #79A);
    filter: drop-shadow(0px 0px 5px #79A);
}

#icon-att {
    align-self: center;
    font-size: 11px;
    color: #688A9C;
}

#summary {
    text-align: center;
    align-self: center;
    max-width: 800px;
}

.componente {
    display: flex;
    flex-direction: column;
}

#componente-img {
    align-self: center;
    max-width: 400px;
    margin: 0.5rem;
    -webkit-filter: drop-shadow(0px 0px 5px #79A);
    filter: drop-shadow(0px 0px 5px #79A);
}

.question-options {
    display: flex;
    flex-direction: column;
}